services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - /usr/src/app/node_modules
    env_file:
      - .env
    environment:
      NODE_ENV: ${NODE_ENV:-development}
    networks:
      - studio-network
    depends_on:
      - kafka
      - database
    command: node dist/main.js
    restart: unless-stopped

  database:
    image: postgres:18
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-studio_db}
    volumes:
      - db_data:/var/lib/postgresql
    restart: unless-stopped

  kafka:
    image: apache/kafka:4.1.1
    networks:
      - studio-network
    environment:
      KAFKA_HEAP_OPTS: "-Xms512M -Xmx1G"
      KAFKA_NODE_ID: "${KAFKA_NODE_ID:-0}"
      KAFKA_PROCESS_ROLES: "${KAFKA_PROCESS_ROLES:-controller,broker}"
      KAFKA_LISTENERS: "${KAFKA_LISTENERS:-PLAINTEXT://:9092,CONTROLLER://:9093}"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "${KAFKA_LISTENER_SECURITY_PROTOCOL_MAP:-CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT}"
      KAFKA_CONTROLLER_LISTENER_NAMES: "${KAFKA_CONTROLLER_LISTENER_NAMES:-CONTROLLER}"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "${KAFKA_CONTROLLER_QUORUM_VOTERS:-0@kafka:9093}"
      KAFKA_ADVERTISED_LISTENERS: "${KAFKA_ADVERTISED_LISTENERS:-PLAINTEXT://kafka:9092}"
      KAFKA_SOCKET_REQUEST_MAX_BYTES: "${KAFKA_SOCKET_REQUEST_MAX_BYTES:-209715200}"   # 200 MB
      KAFKA_MESSAGE_MAX_BYTES: "${KAFKA_MESSAGE_MAX_BYTES:-209715200}"               # 200 MB
      KAFKA_REPLICA_FETCH_MAX_BYTES: "${KAFKA_REPLICA_FETCH_MAX_BYTES:-419430400}"   # 400 MB
    ports:
      - "9092:9092"
      - "9093:9093"
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:v3.9.1
    networks:
      - studio-network
    ports:
      - "9090:9090"
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    restart: unless-stopped

  node-exporter:
    image: prom/node-exporter:v1.10.2
    networks:
      - studio-network
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    networks:
      - studio-network
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD:-admin}
    volumes:
      - grafana_data:/var/lib/grafana
    restart: unless-stopped

networks:
  studio-network:
    driver: bridge

volumes:
  db_data:
  kafka:
  prometheus_data:
  grafana_data:
